---
import { Image } from "astro:assets";
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import localMark from "../images/logo/BB_Logo_Mark_Color_NoPadding.png";
import localLogo from "../images/logo/BB_Logo_CompactHorz_Color_NoPadding.png";
---

<header
  class="pointer-events-none sticky top-5 z-50 mx-2 transition-transform duration-200 ease-in-out selection:bg-green-600 selection:text-white md:top-10 print:hidden"
  x-data="{ scroll: false }"
  :class="scroll && 'scale-90'"
  @scroll.window="scroll = window.pageYOffset > 50"
>
  <div
    class="flow-row shadow-smooth-40 pointer-events-auto mx-auto flex h-[67px] w-fit flex-nowrap items-center gap-3 rounded-lg border border-gray-200 bg-white p-3"
  >
    <a href="/" aria-label={SITE_TITLE}>
      <Image
        src={localLogo}
        class="pointer-events-none hidden h-[36px] w-[247px] sm:block"
        width={494}
        height={72}
        quality={100}
        alt="Braun Bauen Logo"
        priority={true}
      />
      <Image
        class="sm:hidden"
        alt="Braun Bauen Logo Mark"
        width={41}
        height={39}
        src={localMark}
        priority={true}
      />
    </a>
    <nav class="flex h-full flex-row gap-3 border-l border-gray-200 pl-3">
      <HeaderLink href="/about" aria-label="About Braun Bauen">about</HeaderLink
      >
    </nav>
  </div>
</header>
